In [2]:
file_string = open("US_births_1994-2003_CDC_NCHS.csv", "r").read()
ss = file_string.split('\n')
ss[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [5]:
def read_csv(file_name):
    f = open(file_name).read()
    f_split_string = f.split('\n')
    string_list = f_split_string[1:len(f_split_string)]
    
    final_list = []
    for element in string_list:
        string_fields = element.split(',')
        int_fields = []
        for value in string_fields:
            int_fields.append(int(value))
        final_list.append(int_fields)
    return(final_list)

cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [9]:
def month_births(lol):
    births_per_month = {}
    for lst in lol:
        m = lst[1]
        b = lst[4]
        if m in births_per_month:
            births_per_month[m] = births_per_month[m] + b
        else:
            births_per_month[m] = b
    return(births_per_month)

cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [10]:
def dow_births(lol):
    births_per_dow = {}
    for lst in lol:
        dow = lst[3]
        births = lst[4]
        if dow in births_per_dow:
            births_per_dow[dow] = births_per_dow[dow] + births
        else:
            births_per_dow[dow] = births
    return(births_per_dow)

cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [17]:
def calc_counts(data, column):
    d_count = {}
    for lst in data:
        f = lst[column - 1]
        b = lst[4]
        if f in d_count:
            d_count[f] = d_count[f] + b
        else:
            d_count[f] = b
    return(d_count)

cdc_year_births = calc_counts(cdc_list, 1)
cdc_year_births
cdc_month_births = calc_counts(cdc_list, 2)
cdc_month_births
cdc_dom_births = calc_counts(cdc_list, 3)
cdc_dom_births
cdc_dow_births = calc_counts(cdc_list, 4)
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [22]:
def min_max(data, column):
    d_count = {}
    for lst in data:
        f = lst[column - 1]
        births = lst[4]
        if f in d_count:
            d_count[f] = d_count[f] + births
        else:
            d_count[f] = births
    minmax = [min(d_count), max(d_count)]
    return(minmax)
month_mm = min_max(cdc_list, 2)
month_mm

NameError: name 'd_count' is not defined